@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Exo', sans-serif;
}

.primary-color{
    background-color: #FE386B;
}

.button-primary{
    background-color: #37003C ;
}